* {
    font-family: 'Roboto', sans-serif
}

h1 {
    margin: 0 !important;
}

ul {
    padding: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fbfbfe;
    overflow-x: hidden;
}

.boxed-container {
    background-image: linear-gradient(180deg, #372771, #020002);
}

.header {
    height: 1023px;
    background-image: linear-gradient(180deg, #372771, #020002);
    /* padding-left: 150px !important;
    padding-right: 105px !important; */
    padding-top: 16px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.zubia-logo {
    width: 83px;
    height: 80px;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #ffffff;
}

.zubia-logo:hover {
    cursor: pointer;
}

.navbar {
    margin-top: 32px;
    margin-bottom: 32px;
    float: right;
}

.navbar>ul>li {
    opacity: 0.7;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    float: left;
    margin-left: 16px;
    margin-right: 16px;
}

.navbar>ul>li:hover {
    cursor: pointer;
    transition: .3s;
}

.navbar>ul>li.get-started {
    border: 1px solid #fff;
    opacity: 0.5;
    border-radius: 26px;
    padding: 13px 27px;
    margin-top: -10px;
}

.navbar>ul>li.get-started:hover {
    transition: .3s;
    background-color: #fff;
    color: #332469;
    cursor: pointer;
    opacity: .7;
}

.menu {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100vh;
    background: white;
    width: 0;
    top: 0;
    right: 0;
    z-index: 9999;
}

.sidebar>h6 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 15px;
    top: 25px;
}

.sidebar ul {
    position: absolute;
    top: 80px;
    left: 15px;
}

.sidebar li {
    margin: 15px 0;
}

.close {
    position: absolute;
    top: 25px;
    left: 243px;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    display: none
}

.extract-anything {
    color: #fff;
    text-transform: uppercase;
}

.extract-anything>* {
    display: inline-block;
}

.extract-anything>div {
    margin-bottom: 60px;
}

.automatic-transform {
    font-size: 62px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    color: #ffffff;
}

.website-into {
    font-weight: 600
}

.easy-extract {
    opacity: 0.8;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #ffffff;
}

button.get-started {
    width: 170px;
    height: 52px;
    border-radius: 26px;
    box-shadow: 0 10px 40px 0 rgba(254, 73, 0, 0.3);
    background-color: rgb(254, 73, 0);
    border: none;
    color: #fff
}

button.get-started:hover {
    filter: brightness(120%);
    transition: .3s;
    cursor: pointer;
}

div.join {
    margin-top: 158px;
    margin-bottom: 45px;
}

div.join-text {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #ffffff;
    width: 533px;
    height: 71px;
    margin: 0 auto;
}

.brand img:hover {
    cursor: pointer;
}

section.features-items {
    height: 464px;
    background-color: #020002;
}

.features-item {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.features-items-2 {
    background: linear-gradient(180deg, #020002, #372771);
}

.ill-right {
    flex-flow: row-reverse;
}

.ill-left {
    background: linear-gradient(180deg, #020002, #372771);
}

.ill-right>.ill {
    text-align: right;
    margin-right: -200px;
}

.features-items>.container>.features-item>.content {
    flex: 0 460px;
}

.features-items>.container>.features-item>.ill {
    flex: auto;
}

.features-items>.container>.features-item>.content>.content-title {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 23px !important;
}

.features-items>.container>.features-item>.content>.content-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    opacity: .8;
}

.features-items-2>.container>.features-item>.content {
    flex: 0 460px;
}

.features-items-2>.container>.features-item>.ill {
    flex: auto;
}

.features-items-2>.container>.features-item>.content>.content-title {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 23px !important;
}

.features-items-2>.container>.features-item>.content>.content-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    opacity: .8;
}

.intro {
    height: 664px;
    background-color: #020002;
    padding-top: 209px;
    padding-left: 150px !important;
    overflow-x: hidden;
}

.intro-title {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 23px !important;
}

.intro-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    opacity: .8;
    width: 457px;
    height: 140px;
}

div.learn-more {
    margin-top: 50px;
}

div.learn-more:hover {
    cursor: pointer;
}

div.learn-more:hover img.learn-more {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);

}

.intro div.learn-more {
    padding-left: 0px !important;
}

.intro2 div.learn-more {
    padding-left: 70px !important;
}

p.learn-more {
    margin: 0 !important;
    display: inline-block;
    /* width: 115px;
    height: 22px; */
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #fe4900;
    text-transform: uppercase
}

img.learn-more {
    float: unset !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.diagonal {
    background: url('../img/diagonal.svg');
    background-size: cover;
    background-color: #fbfbfe;
}

.diagonal>.container>.row>div.list {
    margin-top: 200px;
}

/* .diagonal::after {
    content: "";
    display: block;
    height: 270px;
    background-image: url("../img/diagonal2.svg");
    background-size: cover;
    background-color: #fbfbfe;
} */

.list>h1 {
    width: 360px;
    height: 124px;
    font-size: 42px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: 0.3px;
    color: #000000;
    margin-bottom: 73px !important;
}

.list>ul>li {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #808080;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 17px 20px;
    width: 195px;
}

.list li:hover {
    cursor: pointer;
}

.list>ul>li.active {
    box-shadow: 0 5px 30px 0 rgba(254, 79, 0, 0.15);
    background-color: #fe4f00;
    box-sizing: border-box;
    padding: 17px 20px;
    width: 195px;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #ffffff !important;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.box {
    width: 330px;
    height: 350px;
    box-shadow: 0 20px 60px 0 rgba(9, 37, 59, 0.1);
    background-color: #ffffff;
    margin-left: 30px;
    padding: 38px;
}

.box>h3 {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 35px;
}

.box>p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #727272;
    opacity: .8;
}

.box:nth-child(1) {
    margin-top: 300px;
}

.box:nth-child(2) {
    margin-top: -530px;
    margin-bottom: 30px;
}

.box:nth-child(2),
.box:nth-child(3) {
    margin-left: 390px;
}

.diagonal-2 {
    background-color: #fbfbfe;
    outline: none;
}

.impressions {
    background-image: linear-gradient(to bottom, #201254, #000000);
    height: auto;
    padding-bottom: 100px;
    margin-top: -1px
        /* padding-left: 250px; */
}

.love-icon {
    margin-bottom: 50px;
}

.impressions-title {
    width: 351px;
    height: 80px;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #d8d8d8;
}

.slider-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 170px;
    /* margin-left: 250px; */
}

.slider-item {
    flex: 0 0 457px;
    height: 281px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(225, 225, 225, 0.07);
    box-sizing: border-box;
    padding: 30px;
    /* margin: 0 auto; */
}

/* .slider-item:nth-child(1) {
    margin-right: 15px;
}

.slider-item:nth-child(2) {
    margin-left: 15px;
} */

.photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    margin-bottom: 22px;
}

.slider-item p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 27px;
}

.slider-item b {
    width: 99px;
    height: 26px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
}

.slider-item h5 {
    width: 226px;
    height: 26px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
}


.owl-carousel {
    width: 1250px !important;
}

.owl-nav {
    text-align: center;
    margin-top: 30px;
}

.owl-item {
    width: 457px !important
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    width: 30px !important;
    height: 30px !important;
}

.owl-carousel .owl-nav .owl-prev {
    background: url('../img/prev.svg') no-repeat !important;
    outline: none !important;
    margin-right: 30px;
}

.owl-carousel .owl-nav .owl-next {
    background: url('../img/next.svg') no-repeat !important;
    outline: none !important;
}

.owl-dots {
    visibility: hidden;
}

.owl-stage>.active+.active+.active>.slider-item {
    background-color: rgba(225, 225, 225, 0.04);
}

.owl-stage>.active+.active+.active>.slider-item>* {
    opacity: 0.5;
}

.owl-nav {
    display: block !important;
}

.impressions h1 {
    width: 457px;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #d8d8d8;
}

.search {
    width: 447px;
    height: 62px;
    border-radius: 100px;
    background-color: rgba(225, 225, 225, 0.1);
}

.search-term {
    outline: none;
    border: none;
    width: 298px;
    height: 62px;
    border-radius: 100px 0 0 100px;
    background-color: transparent;
}

input[type="text"] {
    color: rgba(197, 197, 197, .7);
    padding-left: 25px;
}

input::placeholder {
    color: rgba(197, 197, 197, .7);
}

.search-button {
    width: 142px;
    height: 48px;
    border-radius: 26px;
    background-color: #fe4f00;
    outline: none;
    border: none;
}

input[type="submit"] {
    color: #fff;
}

input[type="submit"]:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.impressions h4 {
    width: 87px;
    height: 32px;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d8d8d8;
    margin-bottom: 12px !important;
}

.short-desc p {
    width: 395px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #d8d8d8;
    opacity: .7;
}

.list-header {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d8d8d8;
    margin-bottom: 17px !important;
}

.list-child {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d8d8d8;
    margin-bottom: 4px !important;
    opacity: .7;
}

.list-child:hover {
    cursor: pointer;
}

.m-t-150 {
    margin-top: 150px;
}

/* background-color: linear-gradient(176deg, #5f35ff, #4726b8 28%, #000000); */

@media screen and (min-width: 2560px) {
    .list {
        margin-top: 450px !important;
    }

    .box:nth-child(1) {
        margin-top: 550px !important;
    }
}

@media screen and (min-width: 1920px) {
    .list {
        margin-top: 300px !important;
    }

    .box:nth-child(1) {
        margin-top: 400px !important;
    }

    .owl-stage>.active+.active+.active+.active>.slider-item {
        background-color: rgba(225, 225, 225, 0.04);
    }

    .owl-stage>.active+.active+.active+.active>.slider-item>* {
        opacity: 0.5;
    }
}

@media screen and (max-width: 1920px) {
    .slider-container {
        width: 1804px !important;
    }
}

@media screen and (max-width: 1200px) {
    li.get-started {
        display: none;
    }

    .navbar>ul>li {
        display: none;
    }

    .menu {
        display: inline;
    }

    .slider-item:nth-child(1) {
        margin-right: unset !important;
    }

    .slider-item:nth-child(2) {
        display: none;
        margin-left: unset !important;
    }
}

@media screen and (max-width: 1199px) {
    .features-item.ill-right .ill {
        padding-left: 30px;
    }
}

@media screen and (max-width: 1090px) {
    .features-items-2 .ill {
        margin-top: 150px !important;
    }

    .features-item {
        display: block;
    }

    .features-item>.ill,
    .features-item>.content {
        text-align: center;
    }

    .features-item>.ill {
        padding-bottom: 20px !important;
    }
}

@media screen and (max-width: 1045px) {
    /* div.advantages-container {
        margin: 0 !important;
    } */
}

@media screen and (max-width: 1000px) {
    .list {
        margin-right: 1px;
        text-align: center;
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .list h1 {
        margin-bottom: 0 !important;
        display: inline;
    }

    .list>ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between
    }

    .list>ul>li {
        width: unset;
        padding: 15px;
        box-sizing: border-box;
    }

    .list>ul>li.active {
        width: unset;
        padding: 15px;
    }

    .list li {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: 991px) {
    .features-item {
        padding: 50px 0;
    }

    .features-item>.content {
        flex: 0 320px;
        min-width: 320px;
        /* text-align: left; */
    }

    .features-item>.ill {
        padding: 0;
    }

    .impressions h1 {
        width: 350px
    }

    .owl-stage>.active+.active>.slider-item {
        background-color: rgba(225, 225, 225, 0.04) !important;
    }

    .owl-stage>.active+.active>.slider-item>* {
        opacity: 0.5 !important;
    }

    .search {
        width: 347px;
    }

    .search-term {
        width: 228px;
    }

    .search-button {
        width: 112px;
    }

    .m-t-30 {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 950px) {
    .extract-anything {
        display: none
    }
}

@media screen and (max-width: 940px) {
    .list>h1 {
        /* width: unset;
        height: unset; */
        /* text-align: center; */
    }
}

/* Small */
@media screen and (max-width: 767px) {
    .features-items-2 .ill {
        margin-top: 250px !important;
    }

    .features-item {
        display: block;
        padding: 25px 0;
    }

    .features-item>.ill,
    .features-item>.content {
        padding: 0;
        text-align: center;
        max-width: 400px;
        min-width: unset;
        margin-left: auto;
        margin-right: auto;
    }

    .advantages-container {
        max-width: unset !important;
    }


    .list h1 {
        width: unset
    }

    .list li {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .box {
        margin-bottom: 30px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .box:nth-child(1) {
        margin-top: unset;
        margin-left: unset;
    }

    .box:nth-child(2) {
        margin-top: unset;
        margin-bottom: unset;
    }

    .box:nth-child(2),
    .box:nth-child(3) {
        margin-left: unset;
    }

    .impressions h1 {
        width: unset;
        height: unset;
        text-align: center;
        margin-bottom: 30px !important;
    }

    .search {
        width: 510px;
    }

    .search-term {
        width: 310px;
    }

    .search-button {
        width: 193px;
    }
}

@media screen and (max-width: 760px) {
    .header-text {
        text-align: center
    }

    .automatic-transform {
        font-size: 40px;
    }

    .easy-extract {
        font-size: 16px;
    }

    .header-illustration {
        width: 100%;
    }

    .brand {
        display: none !important
    }
}

@media screen and (max-width: 580px) {
    .list>ul>li {
        padding: unset;
        padding-bottom: 5px;
    }

    .list>ul>li.active {
        padding: unset;
        padding-bottom: 5px;
        box-shadow: unset;
        background-color: transparent;
        color: #808080 !important;
        border-bottom: 1px solid #fe4900;
    }
}

@media screen and (max-width: 550px) {
    div.join-text {
        height: unset !important;
        width: unset !important;
    }
}

@media screen and (max-width: 530px) {
    .owl-item {
        width: 300px !important;
    }

    .slider-item>* {
        font-size: 16px !important
    }

    .search {
        width: 320px;
        margin: 0 auto;
    }

    .search-term {
        width: 200px;
    }

    .search-button {
        width: 113px;
    }
}

@media screen and (max-width: 414px) {
    .list li {
        font-size: 12px !important;
        line-height: 1.25em !important;
    }

    .list>ul>li.active {
        font-size: 12px !important;
        line-height: 1.25em !important
    }
}

@media screen and (max-width: 395px) {
    .short-desc p {
        width: unset !important;
    }
}

@media screen and (max-width: 355px) {
    .list li {
        font-size: 11px !important;
        line-height: 1.25em !important;
    }

    .list>ul>li.active {
        font-size: 11px !important;
        line-height: 1.25em !important
    }
}

@media screen and (max-width: 350px) {
    .boxes {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 340px) {
    .p-l-0 {
        padding-left: 0px !important;
    }
}